.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

 .container-login {
  width: 100%;
  max-width: 600px;
  padding: 3.5rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
} 

.container-login p {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #3e3d3d;
}